<%= content_tag :div, id: "user_#{user.id}" do %>
  <ul class="small-block-grid-2">
    <li>
      <%= image_tag user.image, class: 'border-rounded' %>

      <strong><%= user.first_name %> <%= user.last_name %></strong>
      likes to dance:<br>
      <% user.dances.each do |dance| %>
        <%= dance %>
      <% end %>
      <% if user.current_location %>
        <p>Location: <%= user.current_location %></p>
      <% end %>
    </li>

    <li>
      <%= form_for([user, Invitation.new], remote: true) do |f| %>
        <%= f.text_area :message, rows: 2, placeholder: 'Message', class: 'radius' %>
        <%= f.submit 'Send invitation', name: nil, class: 'tiny button radius' %>
      <% end %>
    </li>
  </ul>
  <hr>
<% end %>
