<% if current_user %>

  <%= form_tag users_path, method: :get do %>

    <%= label_tag :gender, 'Find out a:', class: 'inline' %>
    <%= select_tag 'gender', options_for_select([['woman', 'female'], ['man', 'male']]) %>

    <%= label_tag :dances, 'that likes to dance:' %>
    <%= collection_check_boxes(:user, :dances, ['Bachata','Cha-cha-ch치','Conga','Cumbia','Danz칩n','Fox-Trot','Jazz','Kizomba','Merengue','Pasodoble','Rock and roll','Rumba','Salsa','Swing','Tango'], :to_s, :to_s, class: 'dance_box') %>

    <br><%= submit_tag 'Search', name: nil, class: 'tiny button radius' %>
  <% end %>

  <ul class="small-block-grid-4 medium-block-grid-12 large-block-grid-12">
    <% @pic_urls.each do |i| %>
      <li class="text-center"><%= image_tag(i, class: 'border-rounded') %></li>
    <% end %>
  </ul>

  <% if @users %>
    <% if @users.empty? %>
      <p>There is not any person that match your search criteria at this time. Please try again later.</p>
      <% else %>
        <p>The following persons match your search criteria:</p>
        <div id="users"><%= render @users %></div>
        <%= will_paginate @users %>
    <% end %>
  <% end %>

<% else %>
<br>
<div class="panel radius">
  <h4 class="text-center"><strong>The party is on !</strong></h4>
  <h4 class="text-center"><strong>You are all invited to join it.</strong></h4>

  <p class="text-center"><%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in", class: 'small button radius' %></p>
  <ul class="disc">
    <li>Meet people that enjoy of the ballroom dancing and make new friends using your Facebook account. </li>
    <li>Invite someone to dance based on the dancer profile that you are looking for.</li>
    <li>All this services are Free !</li>
    <li>Dancer City is for those who like to dance. It's Web based service oriented to the dance scope through Social Networks.</li>
    <li>Find people who like to dance: Bachata, Cha-cha-ch치, Conga, Cumbia, Danz칩n, Fox-Trot, Jazz, Kizomba, Merengue, Pasodoble, Rock and roll, Rumba, Salsa, Swing, Tango.</li>
  </ul>
  <ul class="small-block-grid-4 medium-block-grid-8 large-block-grid-8">
    <% @pic_urls.each do |i| %>
      <li class="text-center"><%= image_tag(i, class: 'border-rounded') %></li>
    <% end %>
  </ul>

  <div class="row">
    <div class="large-6 large-centered medium-6 medium-centered small-10 small-centered columns">
      <ul class="example-orbit" data-orbit data-options="animation:slide; navigation_arrows: false;
      timer_speed: 3000;pause_on_hover: false;animation_speed:500;slide_number: false;bullets: false">
        <li><%= image_tag 'contempo.jpg', class: 'border-rounded' %></li>
        <li><%= image_tag 'salsa2.jpg', class: 'border-rounded' %></li>
        <li><%= image_tag 'classic-tango.jpg', class: 'border-rounded' %></li>
        <li><%= image_tag 'salsa.jpg', class: 'border-rounded' %></li>
        <li><%= image_tag 'swing.jpg', class: 'border-rounded' %></li>
        <li><%= image_tag 'milonga-it.jpg', class: 'border-rounded' %></li>
        <li><%= image_tag 'mambo.jpg', class: 'border-rounded' %></li>
        <li><%= image_tag 'salon-milonga.jpg', class: 'border-rounded' %></li>
        <li><%= image_tag 'swing2.jpg', class: 'border-rounded' %></li>
        <li><%= image_tag 'contempo-2.jpg', class: 'border-rounded' %></li>
      </ul>
    </div>
  </div>

</div>
<% end %>
