<% if current_user %>

<% if params[:user].blank? && params[:gender].blank? %>
<div class="panel radius">
  <h4>Let your friends know that you are using Dancer City so that they can use it too.</h4>

  <p>Post the following message in your Facebook wall through Dancer City</p>

  <%= form_tag fb_notifications_wall_path, method: :get do %>
    <fieldset>
      <legend>Message</legend>
      <%= text_area_tag :fb_post, @fb_post, rows: 15, cols: 10, class: 'radius' %>
      <%= submit_tag 'Post in my Facebook wall', name: nil, class: 'tiny button radius' %>
    </fieldset>
  <% end %>
</div>
<% end %>

<h4>Dancers search engine</h4>
  <%= form_tag users_path, method: :get do %>
    <div class="row collapse">
      <div class="small-3 columns">
        <%= label_tag :gender, 'Find out a', class: 'right inline' %>
      </div>
      <div class="small-3 columns">
        <%= select_tag :gender, options_for_select([['woman', 'female'], ['man', 'male']],'female') %>
      </div>
      <div class="small-6 columns">
        <%= label_tag :dances, 'that likes to dance:', class: 'left inline' %>
      </div>
    </div>

    <div class="row">
      <div class="small-6 columns">
        <input name="user[dances][]" type="hidden" value="">
        <%= check_box_tag 'user[dances][]', 'Bachata', false, id: 'bachata', class: 'no-show' %>
        <%= label_tag :bachata, 'Bachata', class: 'checkbox' %>
      </div>
      <div class="small-6 columns">
        <%= check_box_tag 'user[dances][]', 'Cha-cha-chá', false, id: 'chachacha', class: 'no-show' %>
        <%= label_tag :chachacha, 'ChaChaChá', class: 'checkbox' %>
      </div>
    </div>

    <div class="row">
      <div class="small-6 columns">
        <%= check_box_tag 'user[dances][]', 'Conga', false, id: 'conga', class: 'no-show' %>
        <%= label_tag :conga, 'Conga', class: 'checkbox' %>
      </div>
      <div class="small-6 columns">
        <%= check_box_tag 'user[dances][]', 'Cumbia', false, id: 'cumbia', class: 'no-show' %>
        <%= label_tag :cumbia, 'Cumbia', class: 'checkbox' %>
      </div>
    </div>

    <div class="row">
      <div class="small-6 columns">
        <%= check_box_tag 'user[dances][]', 'Danzón', false, id: 'danzon', class: 'no-show' %>
        <%= label_tag :danzon, 'Danzón', class: 'checkbox' %>
      </div>
      <div class="small-6 columns">
        <%= check_box_tag 'user[dances][]', 'Fox-Trot', false, id: 'foxtrot', class: 'no-show' %>
        <%= label_tag :foxtrot, 'Fox-Trot', class: 'checkbox' %>
      </div>
    </div>

    <div class="row">
      <div class="small-6 columns">
        <%= check_box_tag 'user[dances][]', 'Jazz', false, id: 'jazz', class: 'no-show' %>
        <%= label_tag :jazz, 'Jazz', class: 'checkbox' %>
      </div>
      <div class="small-6 columns">
        <%= check_box_tag 'user[dances][]', 'Kizomba', false, id: 'kizomba', class: 'no-show' %>
        <%= label_tag :kizomba, 'Kizomba', class: 'checkbox' %>
      </div>
    </div>

    <div class="row">
      <div class="small-6 columns">
        <%= check_box_tag 'user[dances][]', 'Merengue', false, id: 'merengue', class: 'no-show' %>
        <%= label_tag :merengue, 'Merengue', class: 'checkbox' %>
      </div>
      <div class="small-6 columns">
        <%= check_box_tag 'user[dances][]', 'Pasodoble', false, id: 'pasodoble', class: 'no-show' %>
        <%= label_tag :pasodoble, 'Pasodoble', class: 'checkbox' %>
      </div>
    </div>

    <div class="row">
      <div class="small-6 columns">
        <%= check_box_tag 'user[dances][]', 'Rock and roll', false, id: 'rockandroll', class: 'no-show' %>
        <%= label_tag :rockandroll, 'RockAndRoll', class: 'checkbox' %>
      </div>
      <div class="small-6 columns">
        <%= check_box_tag 'user[dances][]', 'Rumba', false, id: 'rumba', class: 'no-show' %>
        <%= label_tag :rumba, 'Rumba', class: 'checkbox' %>
      </div>
    </div>
  
    <div class="row">
      <div class="small-6 columns">
        <%= check_box_tag 'user[dances][]', 'Salsa', false, id: 'salsa', class: 'no-show' %>
        <%= label_tag :salsa, 'Salsa', class: 'checkbox' %>
      </div>
      <div class="small-6 columns">
        <%= check_box_tag 'user[dances][]', 'Swing', false, id: 'swing', class: 'no-show' %>
        <%= label_tag :swing, 'Swing', class: 'checkbox' %>
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <%= check_box_tag 'user[dances][]', 'Tango', false, id: 'tango', class: 'no-show' %>
        <%= label_tag :tango, 'Tango', class: 'checkbox' %>
      </div>
    </div>

    <br><%= submit_tag 'Search', name: nil, class: 'tiny button radius' %>
  <% end %>

  <% if @users %>
    <% if @users.empty? %>
      <p><strong>There is not any person that match your search criteria at this time. Please try again later.</strong></p>
      <% unless current_user.friends_invitations_sent? %>
        <%= link_to 'Click to notify your Facebook friends that you have started to use Dancer City', fb_notifications_send_path, class: 'small button radius' %>
      <% end %>
      <% else %>
        <p><strong>The following persons match your search criteria:</strong></p>
        <div id="users"><%= render @users %></div>
        <%= will_paginate @users %>
    <% end %>
  <% end %>

<% else %>
<br>
<div class="panel radius">
  <h4 class="text-center"><strong>The party is on !</strong></h4>
  <h4 class="text-center"><strong>You are all invited to join it.</strong></h4>

  <p class="text-center"><%= link_to "Sign in with Facebook", signin_path, id: "sign_in", class: 'small button radius' %></p>
  <ul class="disc">
    <li>Meet people that enjoy of the ballroom dancing and make new friends using your Facebook account. </li>
    <li>Invite someone to dance based on the dancer profile that you are looking for.</li>
    <li>All this services are Free !</li>
    <li>Dancer City is for those who like to dance. It's Web based service oriented to the dance scope through Social Networks.</li>
    <li>Find people who like to dance: Bachata, Cha-cha-chá, Conga, Cumbia, Danzón, Fox-Trot, Jazz, Kizomba, Merengue, Pasodoble, Rock and roll, Rumba, Salsa, Swing, Tango.</li>
  </ul>
  <ul class="small-block-grid-4 medium-block-grid-8 large-block-grid-8">
    <% @pic_urls.each do |i| %>
      <li class="text-center"><%= image_tag(i, class: 'border-rounded') %></li>
    <% end %>
  </ul>

  <div class="row">
    <div class="large-6 large-centered medium-6 medium-centered small-10 small-centered columns">
      <ul class="example-orbit" data-orbit data-options="animation:slide; navigation_arrows: false;
      timer_speed: 3000;pause_on_hover: false;animation_speed:500;slide_number: false;bullets: false">
        <li><%= image_tag 'contempo.jpg', class: 'border-rounded' %></li>
        <li><%= image_tag 'salsa2.jpg', class: 'border-rounded' %></li>
        <li><%= image_tag 'classic-tango.jpg', class: 'border-rounded' %></li>
        <li><%= image_tag 'salsa.jpg', class: 'border-rounded' %></li>
        <li><%= image_tag 'swing.jpg', class: 'border-rounded' %></li>
        <li><%= image_tag 'milonga-it.jpg', class: 'border-rounded' %></li>
        <li><%= image_tag 'mambo.jpg', class: 'border-rounded' %></li>
        <li><%= image_tag 'salon-milonga.jpg', class: 'border-rounded' %></li>
        <li><%= image_tag 'swing2.jpg', class: 'border-rounded' %></li>
        <li><%= image_tag 'contempo-2.jpg', class: 'border-rounded' %></li>
      </ul>
    </div>
  </div>

</div>
<% end %>
