<h1 class="subheader"><%= @user.first_name %> <%= @user.last_name %> profile</h1>
<p><%= image_tag @user.image %></p>

<p>Sex: <%= @user.gender %></p>

<p>Choose what do you like to dance ?</p>

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

    <ul>
      <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= f.collection_check_boxes :dances, ['Bachata','Cha-cha-chá','Conga','Cumbia','Danzón','Fox-Trot','Jazz','Kizomba','Merengue','Pasodoble','Rock and roll','Rumba','Salsa','Swing','Tango'], :to_s, :to_s %>
  </div>

  <div class="field">
    <%= f.select :visibility, [['Receive invitations from everybody', 'open'], ['Only receive invitations from my Facebook friends', 'fb'], ['I don\'t want to receive invitations', 'close']] %>
  </div>

  <div class="actions">
    <%= f.submit 'Update profile', name: nil, class: 'button radius' %>
  </div>

<% end %>

