<%= content_tag :div, id: "post_#{post_entry.id}" do %>
  <div class="panel radius">
    <p class="right"><%= time_tag post_entry.created_at %></p>

    <div class="row">
      <div class="small-12 columns">

        <% if post_entry.status_type == 'video' %>
          <div class="flex-video">
            <% video_url = post_entry.video_url
              video_id = video_url.scan(/(?<=youtube.com\/v\/).+(?=\?)/)[0]
              if video_id %>
              <iframe src="http://www.youtube.com/embed/<%= video_id %>" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
            <% else %>
              <iframe src="<%= video_url %>" frameborder="0"></iframe>
            <% end %>
          </div>
        <% else
           if post_entry.picture_url %>
            <%= image_tag post_entry.picture_url, class: 'border-rounded' %>
           <% end %>
        <% end %>

        <%= simple_format(post_entry.caption) %>
        <%= simple_format(post_entry.description) %>
        <%= simple_format(post_entry.message) %>
        <p>
          <%= link_to_unless_current raw('Ver m&aacute;s'), post_path(post_entry) do
            <div class="fb-comments" data-href="http://developers.facebook.com/docs/plugins/comments/" data-width="100%" data-numposts="10" data-colorscheme="light"></div>

            link_to 'Ver todas las publicaciones', posts_path
          end %>
        </p>

        <%= render partial: 'shared/post_moderation_form', locals: { post: post_entry } if current_user && current_user.admin? && post_entry.is_published? == false %>
      </div>
    </div>
  </div>
<% end %>
