<h4>Contact Us</h4>

<%= form_for @contact do |f| %>

  <fieldset>
    <legend><%= f.label :message %></legend>
    <% if @contact.errors.any? %>
      <div id="error_explanation">
        <ul>
          <% @contact.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    
    <%= f.text_area :message, rows: 7, class: 'radius' %>
    <%= f.submit 'Send message', class: 'tiny button radius' %>
  </fieldset>
<% end %>
