<div class="panel radius">
<div id="invitation">
  <h4>Invitation for <%= @invitation.user.first_name %> <%= @invitation.user.last_name %></h4>

  <p>Invitation to dance from <%= @invitation.partner.first_name %> <%= @invitation.partner.last_name %>.</p>

  <p><%= link_to "Click here to see #{@invitation.partner.first_name} #{@invitation.partner.last_name} Facebook profile", "https://www.facebook.com/profile.php?id=#{@invitation.partner.uid}", target: '_blank' %></p>

  <% if @invitation.message.present? %>
    <p>Message:<br>
    <%= @invitation.message %></p>
  <% else %>
    <p><%= @invitation.partner.first_name %> <%= @invitation.partner.last_name %> did not add any message to this invitation.</p>
  <% end %>

  <p>Invitation status: <%= @invitation.status %></p>

  <% # Only show the respond form to the invitation owner, it means the invitee. %>
  <% if @is_invitee %>
    <p>Do you accept this invitation ?</p>

    <%= link_to "Yes", user_invitation_path(@invitation.user, @invitation, ans: 'accepted'), method: :put, remote: true, class: 'tiny button radius', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Accepting..."} %>

    <%= link_to "Not at this time", user_invitation_path(@invitation.user, @invitation, ans: 'rejected'), method: :put, remote: true, class: 'tiny button radius', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Rejecting..."} %>
  <% end %>

  <br>
  <%= render partial: 'the_comments/tree', locals: { commentable: @invitation, comments_tree: @comments } %>
  <br>
</div>
</div>
<p><%= link_to "Go to Home Page", root_path, class: 'tiny button radius' %></p>
