<h1>Invitation for <%= @invitation.user.first_name %> <%= @invitation.user.last_name %></h1>

<p>You got an invitation from <%= @invitation.partner.first_name %> to dance .</p>

<p>Do you accept this invitation ?</p>

<%= link_to "Yes", user_invitation_path(@invitation.user, @invitation, ans: 'accepted'), method: :put, remote: true, class: 'button radius' %>

<%= link_to "Not at this time", user_invitation_path(@invitation.user, @invitation, ans: 'rejected'), method: :put, remote: true, class: 'button radius' %>

<p><%= link_to "See all the invitations received", user_invitations_path, class: 'button radius' %></p>
